@font-face {
    font-family: Gotham;
    src: url('../fonts/Gotham-Light.woff') format('woff'), url('../fonts/Gotham-Light.ttf')  format('truetype');
}


body{
	padding-top: 70px;
    font-family: 'Gotham';
}

.container{
  padding-left: 0px;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 30px;
}


/*MENU SUPERIOR*/

#top-button{
  width: initial;
}

#top-button li{
  padding-top: 10px;
}

#logovo-list{
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px auto;
    text-align: center;
}

#logovo-dropdown-menu{
  margin-top: inherit;
  padding-top: 35px;
  background-color: rgba(255, 255, 255, 0.7);
}

#button-top-mobile,
#button-top{
    height: 50px;
    width: 50px;
    z-index: 100;
}

#button-top-mobile{
  padding-top: 10px;
}

#current-session-label{
  width: 100%;
  padding-right: 20px;
  float: right;
  font-weight: bolder;
  position: absolute;
  text-align: right;

}

#current-session-label span{
  font-size: 20px;
  color: #777;
}


#nav-wrapper{
	width: 100%
}
#nav{
	height: 70px;
	z-index: 1000;
	width: 100%;
}
.navbar-default {
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  background-image: initial;
  box-shadow: initial;
}
.navbar-nav {
	height: 70px;
    width: 100%;
    text-align: center;
}
.navbar-nav li{
	height: 70px;
    float: none;
    display: inline-block;
}
.navbar-default .navbar-nav>li{
    padding-top: 20px;
}
.navbar-default .navbar-nav>li>a{
	height: initial;
	line-height: initial;
	font-size: 20px;
	font-weight: bolder;
    position: relative;
    text-decoration: none;
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.navbar-default .navbar-nav>li>a:hover{
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.underline_animate:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.underline_animate:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-46%, 0);
    -o-transform: translate(-46%, 0);
    transform: translate(-46%, 0);
    padding-top: 20px;
    padding-bottom: 0px;
}
.dropdown-menu-center li{
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
}
.dropdown-menu-center>li>a{
    line-height: 35px;
}
#link-button-logovo-navbar{
	padding-top: 5px;
	z-index: 1001;
}
#logovo-navbar{
  padding-top: 10px;
	width: 100px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    filter: none;
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
}

 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
      color: #000;
      background: rgba(255, 255, 255, 0.7);
 }
 .navbar-default .navbar-nav>.open>a,
 .navbar-default .navbar-nav>.open>a:focus,
 .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: transparent;
}
 .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
    box-shadow: none;
}




#logovo-dropdown-menu li:first-child a{
  margin-top: 10px;
}

#logovo-dropdown-menu li a:hover{
  color: white;
  background-color: black;
}

#logovo-dropdown-menu li a{
  font-weight: bolder;
  background-image: none;
  padding-top: 15px;
  height: 100%;
  transition: all .3s ease;
}

@media (max-width: 768px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}




/*LOGO*/
#logovo{
  width: 60%;
}


#logovo-wrapper{
  margin-top: 10%;
}

#logovo-wrapper h1{
  color: black;
  font-size: 42px;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  #logovo-wrapper h1{
    font-size: 34px;
  }
}

@media screen and (max-width: 768px) {
  #logovo-wrapper h1{
    font-size: 26px;
  }
}

@media screen and (max-width: 540px) {
  #logovo-wrapper h1{
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  #logovo-wrapper h1{
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
  #logovo-wrapper h1{
    font-size: 12px;
  }
}




/*CAROUSEL*/

#myCarousel{
  color: black;
  margin-top: 7.5%;
  padding-top: 7.5%;
}

.logovo-carousel-control-left{
	position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    left: 0;
}
.logovo-carousel-control-right{
	position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    right: 0;
}

.carousel-inner>.item {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .carousel-indicators {
    bottom:-50px;
  }
  .carousel-inner {
     margin-bottom:50px;
  }
  .right,
  .left{
    display: none;
  }
}


/*ACCORDION*/
#services{
  margin-top: 7.5%;
  padding-top: 7.5%;
  padding-left: initial;
  padding-right: initial;
}
#services .row{
  margin-right: 0px;
}
#accordion{
    margin-top: 30px;
}
#accordion p{
  font-size: 18px;
}
#accordion p + p{
  margin-top: 20px;
}
#accordion-introduction h1, h3{
  text-align: center;
}
#accordion-introduction h1{
  font-weight: bold
}

@media screen and (max-width: 768px) {
  #accordion-introduction h1{
    font-size: 26px;
  }
  #accordion-introduction h3{
    font-size: 20px;
  }
}


@media screen and (max-width: 425px) {
  #accordion p{
    text-align: center;
    font-size: 16px;
  }
  #accordion p + p{
    margin-top: 15px;
  }
  #accordion-introduction h1{
    font-size: 22px;
  }
  #accordion-introduction h3{
    font-size: 18px;
  }
}



.panel-default > .panel-heading{
    text-align: center;
    background-image: none;
}
.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
}
.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}
.panel-group .panel + .panel {
    margin-top: 0;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
  padding-top: 50px;
  padding-bottom: 50px;
    border-top: none;
    border-top-color: none;
}

.img-accordion{
  margin-bottom: 30px;
  width: 80%;
}

@media (max-width: 992px){
  .img-accordion{
    width: 30%;
  }
  #services .col-md-8{
    text-align: center;
  }
}

@media (max-width: 768px){
  .img-accordion{
    width: 40%;
  }
}

@media (max-width: 425px){
  .img-accordion{
    width: 60%;
  }
}

.accordion-collapse1{
  background-color: rgb(255, 222, 78) !important;
}
.accordion-collapse2{
  background-color: #8bccc0 !important;
}
.accordion-collapse3{
  background-color: #c191c2 !important;
}


.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    height: initial;
  line-height: initial;
  font-size: 24px;
  font-weight: bolder;
    position: relative;
    text-decoration: none;
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0px;
    margin-right: 0px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a:hover {
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}


@media screen and (max-width: 425px) {
  .panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    font-size: 15px;
  }
}


/*RESPONSIVE-MENU*/

#top-button-mobile{
  padding-top: 10px;
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 768px) {
    .responsive-navbar-button{
      display: block !important;
    }
    #top-button-mobile{
      display: block;
    }
}

.responsive-navbar-button {
  position: fixed;
  right: 20px;
  width: 50px;
  height: 50px;
  display: none;
  cursor: pointer;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.responsive-navbar-button:hover {
  
}
.responsive-navbar-button span {
  display: block;
  float: left;
  clear: both;
  height: 6px;
  width: 40px;
  border-radius: 40px;
  background-color: black;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.responsive-navbar-button span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}
.responsive-navbar-button span:nth-child(2) {
  margin-top: 25px;
}
.responsive-navbar-button span:nth-child(3) {
  margin-top: 40px;
}

.sub-menu {
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(110, 117, 125, 0.4);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}
.sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.sub-menu li:first-child {
  margin-top: 180px;
}
.sub-menu li:nth-child(1) {
  -webkit-transition-delay: 0.05s;
}
.sub-menu li:nth-child(2) {
  -webkit-transition-delay: 0.10s;
}
.sub-menu li:nth-child(3) {
  -webkit-transition-delay: 0.15s;
}
.sub-menu li:nth-child(4) {
  -webkit-transition-delay: 0.20s;
}
.sub-menu li:nth-child(5) {
  -webkit-transition-delay: 0.25s;
}
.sub-menu li a {
  color: #fff;
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
}
.sub-menu li:first-child a{
  margin-top: 30px;
}
.sub-menu li a:hover {
  text-decoration: none;
}

.oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px;
}
.oppenned span:nth-child(2) {
  overflow: visible;
}
.oppenned span:nth-child(1), .oppenned span:nth-child(3) {
  z-index: 100;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.oppenned span:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(12px) translateX(12px);
          transform: rotate(45deg) translateY(12px) translateX(12px);
}
.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(110, 117, 125, 0.4);
}
.oppenned span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-10px) translateX(10px);
          transform: rotate(-45deg) translateY(-10px) translateX(10px);
}
.oppenned li {
  margin-right: 168px;
}

.button {
  display: block;
  float: left;
  clear: both;
  padding: 20px 40px;
  background: #fff;
  border-radius: 3px;
  border: 2px solid #10a1ea;
  overflow: hidden;
  position: relative;
}
.button:after {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  content: "";
  position: absolute;
  height: 200px;
  width: 400px;
  -webkit-transform: rotate(45deg) translateX(-540px) translateY(-100px);
          transform: rotate(45deg) translateX(-540px) translateY(-100px);
  background: #10a1ea;
  z-index: 1;
}
.button:before {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 2;
  text-align: center;
  padding: 20px 40px;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}
.button:hover {
  text-decoration: none;
}
.button:hover:after {
  -webkit-transform: translateX(-300px) translateY(-100px);
          transform: translateX(-300px) translateY(-100px);
}
.button:hover:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}


/*CONTACT*/
#contact{
  margin-top: 7.5%;
  padding-top: 7.5%;
  margin-bottom: 10%;
}

.contact-area-email img,
.contact-area-phone img{
  float: left;
  padding-right: 10px;
}

.contact-area-email h4{
  padding-top: 8px;
}




/*EMAIL FORM*/

#logovo-contact-mobile{
  display: none;
}

.logo-contact-area img{
  margin-top: 70px;
  margin-bottom: 50px;
}

.email-form{
  padding-right: 30px;
  border-right: 1px solid;
}

@media screen and (max-width: 768px) {
    #logovo-contact-desktop{
      display: none;
    }
    #logovo-contact-mobile{
      display: block;
    }
}

@media screen and (max-width: 425px) {
    #logovo-contact-mobile{
      width: 60%;
    }
}

.contact-area{
  padding: 3em 2em 2em 2em;
}

.contact-area-message{
  padding-left: 2em;
  padding-right: 2em;
}

form,
.contact-area{
    padding: 3em 2em 2em 2em;
}

.social-media-area {
    padding: 1em 2em 2em 1em;
}


.social-media-area a{
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
}

@media (max-width: 991px){
  .email-form{
    border: none;
    padding-right: 0px;
  }
  .contact-area,
  .social-media-area,
  .contact-area-message{
    text-align: center;
  }
  .contact-area-email img,
  .contact-area-phone img{
    float: none;
  }
  .button-form{
    float: none !important;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.form-group { 
  position: relative; 
  margin-bottom: 30px; 
}

input,
textarea {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
}

textarea{
  resize: none;
}

input:focus, textarea:focus { outline: none; }


/* Label */

label {
  color: #999; 
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 0.2s ease;
}


/* active */

input:focus ~ label, input.used ~ label {
  top: -20px;
  transform: scale(.75); left: -2px;
  /* font-size: 14px; */
  color: black;
}

textarea:focus ~ label, textarea:valid ~ label {
  top: -20px;
  transform: scale(.75); left: -2px;
  /* font-size: 14px; */
  color: black;
}


@media (max-width: 425px){
  label{
    font-size: 16px;
  }
}


/* Underline */

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 2px; 
  width: 0;
  bottom: 1px; 
  position: absolute;
  background: black; 
  transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }

textarea:focus ~ .bar:before, textarea:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
  position: absolute;
  height: 60%; 
  width: 100px; 
  top: 25%; 
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

textarea:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
  from { background: #4a89dc; }
  to  { width: 0; background: transparent; }
}


/**button**/
.button-form{
    float: right;
    background-color: #fff;
    border: none;
    font-size: 18px;
    color: #757575;
    transition: color 0.3s ease;

}

.button-form:hover{
  color: black;
  transition: color 0.3s ease;
}

.button-form-arrow{
  float: right;
  visibility: hidden;
  font-size: 18px;
  margin-left: 5px;
}



@media (max-width: 375px){
  form,
  .contact-area,
  .social-media-area{
      padding: 3em 0 2em 0;
  }
  .social-media-area a{
      margin-right: 7.5px;
      margin-left: 7.5px;
  }

}


/*ABOUT*/
#about{
  margin-top: 50px;
}

.profile-titulacao{
  font-size: 13px !important;
}

#profile-eduardo:hover,
#profile-paulo:hover{
  cursor: pointer;
}

.profile-paulo-closed{
  margin-left: 10%;
  transition: all 0.5s ease;
}
.profile-paulo-open{
  margin-left: 25%;
  transition: all 0.5s ease;
}
.profile-paulo-description-content{
  text-align: center;
}

.profile-eduardo-closed{
  margin-right: 10%;
  transition: all 0.5s ease;
}

.profile-eduardo-open{
  margin-right: 25%;
  transition: all 0.5s ease;
}
.profile-eduardo-description-content{
  text-align: center;
}
.profile-eduardo-description-content h2,
.profile-paulo-description-content h2{
  font-size: 26px;
  font-weight: bold;
}

.profile-eduardo-description-content p,
.profile-paulo-description-content p{
  font-size: 16px;
  font-weight: bold;
}



/*PROFILES MOBILE*/

#profile-eduardo-mobile,
#profile-paulo-mobile{
  height: 200px;
}

.profiles-content-mobile{
  margin-top: 40px;
}

#container-profile-paulo-mobile{
      
}

#container-profile-eduardo-mobile{
      margin-top: 10px;
    margin-bottom: 25px;
}

#profile-eduardo-mobile:hover,
#profile-paulo-mobile:hover{
  cursor: pointer;
}

.profile-paulo-closed-mobile{
  margin-top: 10%;
  transition: all 0.5s ease;
}
.profile-paulo-open-mobile{
  margin-top: 25%;
  transition: all 0.5s ease;
}
.profile-eduardo-description-content-mobile,
.profile-paulo-description-content-mobile{
  margin: 60px 20px 20px 20px;
  text-align: center;
}

.profile-eduardo-closed-mobile{
  margin-bottom: 10%;
  transition: all 0.5s ease;
}

.profile-eduardo-open-mobile{
  margin-bottom: 25%;
  transition: all 0.5s ease;
}
.profile-eduardo-description-content-mobile{
  margin-bottom: 20%;
  text-align: center;
}
.profile-eduardo-description-content-mobile h2,
.profile-paulo-description-content-mobile h2{
  font-size: 24px;
  font-weight: bold;
}

.profile-titulacao-mobile{
  font-size: 17px !important;
}

.profile-eduardo-description-content-mobile p,
.profile-paulo-description-content-mobile p{
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 425px){
  .profile-eduardo-description-content-mobile h2,
  .profile-paulo-description-content-mobile h2{
    font-size: 22px;
    font-weight: bold;
  }

  .profile-titulacao-mobile{
    font-size: 15px !important;
  }

  .profile-eduardo-description-content-mobile p,
  .profile-paulo-description-content-mobile p{
    font-size: 18px;
    font-weight: bold;
  }
}

@media (max-width: 320px){
  .profile-eduardo-description-content-mobile h2,
  .profile-paulo-description-content-mobile h2{
    font-size: 20px;
    font-weight: bold;
  }

  .profile-titulacao-mobile{
    font-size: 13px !important;
  }

  .profile-eduardo-description-content-mobile p,
  .profile-paulo-description-content-mobile p{
    font-size: 16px;
    font-weight: bold;
  }
}




.button-modal{
  margin-top: 50px;
}





.carousel-inner{
  height: 700px;
}

#about-description{
  height: inherit;
  background-color: rgb(255, 222, 78);
}

.about-profiles{
  height: inherit;
  background-color: rgb(139, 204, 192);
}

#about-profiles .col-md-6{
  padding-right: 0px;
  padding-left: 0px;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}

.carousel-indicators .active {
    width: 20px;
    height: 20px;
    background-color: #000;
}

#about-principles{
  height: inherit;
  background-color: rgb(193, 145, 194);
}

.equation-img{
  width: 65%;
  padding-top: 50px;
}

#img-equation-mobile{
  display: none;
  width: 40%
}

@media (max-width: 425px){
  .equation-img{
    display: none !important;
  }
  #img-equation-mobile{
    padding-top: 7%;
    display: block;
  }
}

#about-principles h4, h1{
  text-align: center;
}
#about-principles h4{
  font-size: 26px;
}

.principles-content{
  padding-top: 20%;
}

@media (max-width: 425px){
  .principles-content{
    padding-top: 50%;
  }
}

.profiles-content{
  padding-top: 10%;
}

.about-content{
  padding-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

.about-content p + p{
  margin-top: 30px;
}

.about-content h4{
  font-size: 20px;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .about-content{
    padding-top: 70px;
    margin-right: initial;
    margin-left: initial;
  }
  .about-content h4{
    text-align: center;
    font-size: 22px;
    line-height: 30px;
  }
}

@media screen and (max-width: 425px) {
  #about-description{
    padding-top: 20px;
  }
  .about-content{
    padding-top: 15%;
    margin-right: initial;
    margin-left: initial;
  }
  .about-content p + p{
    margin-top: 15px;
  }
  .about-content h4{
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .about-content h4{
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 468px) {
  #myCarousel h1{
    font-size: 26px;
  }
  #about-principles h4{
  font-size: 20px;
}
}


/*PORTFOLIO-AREA*/

#portfolio{
  padding-right: initial;
  padding-left: initial;
  margin-top: 7.5%;
  padding-top: 7.5%;
}

.square {
    /*float:left;*/
    position: relative;
    width: 100%;
    padding-bottom : 75%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
}

.content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;
    
}
.table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
}

.content .rs{
    width:auto;
    height:auto;
    max-height:80%;
    max-width:90%;
}

.gray-client{
  background-color: rgb(230, 231, 233);
}/*
.client-item{
  padding-top: 20px;
  padding-bottom: 20px;
}
.client-item-container{
  height: 250px;
}
#client-chiquilin img{
  width: 60%;
}
#client-unati img{
  width: 85%;
}
#client-enges img{
  width: 75%;
}*/

@media (max-width: 425px){
  .client-item {
    padding-top: 5%;
    padding-bottom: 5%;
    max-width: 60%;
  }

  .square {
      padding-bottom : 60%; /* = width for a 1:1 aspect ratio */
  }
  .content .rs{
      width:auto;
      height:auto;
      max-height:70%;
      max-width:80%;
  }

}


@media (max-width: 375px){
  .content .rs{
      width:auto;
      height:auto;
      max-height:60%;
      max-width:70%;
  }

}

@media (max-width: 320px){
  .content .rs{
      width:auto;
      height:auto;
      max-height:50%;
      max-width:60%;
  }

}

.hover-bg{
}

.hover-bg .hover-text {
  font-weight: bolder;
  transform: translateX(-30px);
  z-index: 1;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.86);
  padding: 30% 0;
  height: 100%;
  width: 100%;
  opacity: 0;
    transition: all 0.5s;
}
.hover-bg .hover-text>h5{
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
}
.hover-bg:hover{
  cursor: pointer;
}
.hover-bg:hover .hover-text>h5{
  opacity: 1;
    -webkit-backface-visibility:hidden;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
.hover-bg .hover-text>.hline{
  opacity: 0;
  -webkit-transform: translateY(0);
            transform: translateY(0);
            transition: all 0.3s;
}
.hover-bg:hover .hover-text>.hline{
  opacity: 1;
    -webkit-backface-visibility:hidden;
   -webkit-transform: translateY(100%);
            transform: translateY(100%);
}
.hover-bg:hover .hover-text{
  opacity: 1;
}
.hline{
  height: 5px;
  width: 30px;
  border-top: 2px solid #f1f1f1;
  margin: 0 auto
}









/*FOOTER*/

.footer{
  height: 60px;
  padding-top: 20px;
  margin-bottom: 0px;
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 50px;
  /* background-color: white; */

}



/*CAROUSEL MOBILE*/

.single-item{
  margin-top: 7.5%;
  padding-top: 7.5%;
  display: none;
}

.slide-carousel-mobile{
  height: 700px;
}

.slick-list,
.slick-track{
  height: 700px;
}

.slick-dots li button:before {
    font-size: 16px;
}

@media (max-width: 992px){
  .single-item{
    display: block;
  }
  #myCarousel{
    display: none;
  }
}




/*NEW PORTFOLIO*/
figure {
  position: relative;
    overflow: hidden;
    margin: 0 1px 1px 0;
    background: #726FB9;
    text-align: center;
    cursor: pointer;  
}

figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

.ot-portfolio-item figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.ot-portfolio-item figure figcaption, .ot-portfolio-item figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure.effect-bubba {
  background: #000;
  margin-bottom: 1px;
}

figure.effect-bubba img {
  opacity: 0.8;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
  opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1,0);
  transform: scale(1,0);
}

figure.effect-bubba h2 {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
  padding-top: 30%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,-20px,0);
  transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
  padding: 20px 2.5em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


/*SEND EMAIL ANIMATION*/
.image-animation img{
  position: absolute;
 left:0;
  right:0;
  margin:0 auto;
  max-height:300px;
}

#send-email-waiting{
      margin-top: 300px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}

#send-email-success{
  margin-top: 100px;
}


/*MODALS PORTFOLIO*/
.animated-modal-portfolio .row{
  margin-right: 0px;
}

.animated-modal-portfolio h2{
  text-align: center;
  margin-bottom: 0px;
}

.animated-modal-portfolio h3{
  margin-bottom: 0px;
  margin-top: 0px;
}


.animated-modal-portfolio .client-name-portfolio,
.animated-modal-portfolio .portfolio-item-image-desktop,
.animated-modal-portfolio .portfolio-item-image-mobile{
  padding-top: 70px;
}

.animated-modal-portfolio .portfolio-item-image-mobile{
  display: none;
}

.animated-modal-portfolio .portfolio-item-service{
  padding-top: 40%;
}

.animated-modal-portfolio .close-button-modal-portfolio{
  display: block;
  margin-left: auto;
  padding-right: 20px;
}

.animated-modal-portfolio .close-button-modal-portfolio:hover{
  cursor: pointer;
}

@media (max-width: 425px){
  .animated-modal-portfolio .portfolio-item-image-desktop{
    display: none;
  }
  .animated-modal-portfolio .portfolio-item-image-mobile{
    display: block;
  }
}